html,
body {
  height: 100%;
  width: 100%;
}

.left img {
  width: 43px;
  height: 43px;
}
nav {
  padding: 0 120px;
}

.container {
  max-width: 80vw;
  /* background: red; */
  margin: auto;
}
nav ul li {
  list-style: none;
  padding: 12px;
}
