.heading-container {
    background-color: black;
    color: white;
    padding: 20px;
}

.name {
    font-size: 30px;
}

.header-options {
    float: right;
    margin-top: 10px;
    color: rgb(118, 88, 88);
}

.x {
    margin: 10px;
}

.image {
    margin: 20px;
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

.name-image {
    font-size: 50px;
    margin-left: 50px;
}

.university-image {
    margin-left: 70px;
    color: aqua;
}

.linkedin {
    margin-left: 70px;
    color: blue;
}

.git {
    margin-left: 70px;
    color: blueviolet;
}

.icon {
    margin-left: 50px;
    font-size: 40px;
}

.parent {
    display: flex;
}

h1 {
    margin: 40px;
    font-size: 60px;
}

.details {
    margin: 40px;
}